.post-trade {
  overflow: auto;
  background-color: $white;
  border-radius: 3px;
  padding-top: 50px;

  .title {
    font-weight: normal;
    font-size: 20px;
    color: $brandColor;
    text-align: center;
  }

  .goods-info {
    margin: 40px auto 50px;
    max-width: 500px;

    .block {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
